.tooltip {
  background: white;
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
  border: 1px solid rgb(0 0 0 / 10%);
}

bui-viewer {
  border-radius: 3px;
  border: 1px solid rgb(0 0 0 / 10%);
  box-sizing: border-box;
  box-shadow: inset 0 0 8px 0 rgb(0 0 0 / 10%);
  width: 100%;
  height: clamp(400px, 50vh, 600px);
  overflow: hidden;
  background-color: white;
}

::ng-deep bui-viewer .toolbar {
  .mat-mdc-fab {
    margin: 0 0.25rem;
    background: #1e3d59;
    color: white;
  }
}

h1 {
  background-color: #1e3d59;
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 20pt;
  font-weight: 500;
}

:host {
  margin: 0 auto;
  display: block;
  max-width: 1440px;
  background: white;
}

.navigation {
  width: 100%;
  height: 60px;
  display: flex;

  .logo {
    height: 60px;
    margin-left: 1rem;
    display: flex;
    text-decoration: none;

    object {
      display: block;
      padding: 0.75rem 0;
      height: calc(100% - 1.5rem);
    }

    span {
      margin-left: 0.75rem;
      display: block;
      font-size: 24pt;
      font-weight: 500;
      font-family: 'Normschrift';
      color: #1e3d59;
      align-self: center;
    }
  }

  .menu {
    flex-grow: 1;
  }
}

.mat-mdc-tab-group {
  max-height: 70vh;
}

.section {
  padding: 1rem 1rem 2rem 1rem;

  h2 {
    margin: 0 0 1rem 0;
  }

  .content {
    display: grid;
    grid-template-columns: 100%;
  }
}

.section:nth-child(even) {
  background-color: #f5f5f5;
}

@media screen and (min-width: 800px) {
  bui-viewer {
    height: clamp(450px, 60vh, 700px);
  }

  .mat-mdc-tab-group {
    max-height: 80vh;
  }

  .section .content {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .section:nth-child(odd) .content {
    .description {
      order: 2;
    }

    .demo {
      order: 1;
    }
  }
}

@media screen and (min-width: 1000px) {
  bui-viewer {
    height: clamp(600px, 70vh, 800px);
  }

  .mat-mdc-tab-group {
    max-height: 90vh;
  }

  .section .content {
    grid-template-columns: 2fr 5fr;
  }
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0.1, 0.1, 0.1, 0.3);
  backdrop-filter: blur(5px);

  mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    position: absolute;
    top: calc(50% + 85px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 16pt;
  }
}
