/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: Normschrift;
  src: url('assets/normschrift.woff2') format('woff2');
  font-display: swap;
}

html,
body {
  height: 100%;
  font-size: 13pt;
}

body {
  overflow: overlay;
  margin: 0;
  font-family: Normschrift, 'Helvetica Neue', sans-serif;

  button {
    font-family: Normschrift, 'Helvetica Neue', sans-serif;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #c6c6c6;
}
::-webkit-scrollbar-thumb:active {
  background: #1e3d59;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
